
<div class="container">
    <div class="item" *ngFor="let product of products">
        <img 
        [src]="'http://localhost:5005' + product.imagePath" alt="{{ product.itemBrand + ' ' + product.ItemName }}" />
        <p>{{ product.itemBrand }} {{ product.itemName }}</p>
        <div class="details">
        <p>{{ product.itemPrice }} USD</p>
        <div class="parent">
          <button class="p-10" (mouseenter)="showSizes = true" (mouseleave)="showSizes = false">
            add to cart
          </button>
          <div class="sizes child" [class.visible]="showSizes">
            <button *ngFor="let size of product.itemSizes">{{ size }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

