<div class="Nav">
    <button (click)="toggleMenu()"  [disabled]="cartActive">menu</button>
    <!-- <button> -->
        <a routerLink="/">
        <img 
            class="logo"
            src="assets/aia.png"
            alt="logo"
            priority
        />
        </a>
    <!-- </button>    -->
    
    <div class="right-btn">
        <button (click)="goToLogin()"  [disabled]="menuActive">profile</button>
        <button (click)="toggleCart()"  [disabled]="menuActive">cart</button>
    </div>
</div>


<div class="menu mobile" #menuRef [class.active]="menuActive">
    <button (click)="toggleMenu()" class="p-10">x</button>
    <ul>
        <li><a routerLink="/shop">shop</a></li>
        <li><a routerLink="/about">about</a></li>
    </ul>
</div>

<div class="cart mobile" #cartRef [class.active]="cartActive">
    <button (click)="toggleCart()" class="p-10">x</button>
    <p class="center">cart ({{totalQuantity}})</p>

    <div class="row w-90 p-40" *ngFor="let item of items" >
        <div class="row">
            <img
            class="item-cart-img"
            [src]="'http://localhost:5005' + item.imagePath" alt="{{ item.itemBrand + ' ' + item.ItemName }}" /> 
            <div class="details">
                <p class="strong">{{item.itemBrand}} {{item.itemName}}</p>
                <p>{{item.price}} USD</p>
                <p>{{item.color}}</p>
                <p>{{item.size}}</p> 
            </div>
        </div>

        <div class="details">
            <p class="strong">{{ item.itemPrice * item.quantity }} USD</p>
            <p><button>-</button>{{item.quantity}}<button>+</button></p>
            <button (click)="removeItem(item.itemId, item.size)">remove</button>
        </div>
    </div>

    <div class="p-40">
        <div class="row sb">
            <p class="strong">Total Cost</p> 
            <p>{{totalCost}} USD</p>
        </div>
        <button class="center underline">continue to checkout</button>
    </div>

    
</div>
