
<div class="container">
    <div class="row sb">
        <button (click)="goBack()"><</button>
        <p class="center">order ({{totalQuantity}})</p>
    </div>
    <div class="row w-90 p-40" *ngFor="let item of items" >
        <div class="row">
            <img
            class="item-cart-img"
            [src]="'http://localhost:5005' + item.imagePath" alt="{{ item.itemBrand + ' ' + item.itemName }}" /> 
            <div class="details">
                <p class="strong">{{item.itemBrand}} {{item.itemName}}</p>
                <p>{{item.itemPrice}} USD</p>
                <p>{{item.color}}</p>
                <p>{{item.size}}</p> 
            </div>
        </div>

        <div class="details">
            <p class="strong">{{ item.itemPrice * item.quantity! }} USD</p>
            <p>{{item.quantity!}}</p>
        </div>
    </div>

    <div class="p-40">
            <div class="row sb">
                <p class="strong">Total Cost</p> 
                <p>{{totalCost}} USD</p>
            </div>
            <div class="row sb">
                <p class="strong">With tax</p> 
                <p>{{totalCost*0.07+totalCost}} USD</p>
            </div>
        <div id="dropin-container"></div>
        <button class="p center underline" (click)="payNow()">pay now</button>
    </div>

    
</div>
