
<app-sidebars  *ngIf="heroReady" [heroRef]="heroElement"></app-sidebars>
<div #heroRef>
    <div class="container">
        <div class="content">
        <img src="assets/aia-moodboard.png" alt="Aia Moodboard">
        <p>Aia is a space for simple, effortless elegance. 
            Each piece is thoughtfully chosen to bring ease and 
            quiet confidence to your everyday. Rooted in softness and simplicity,
            Aia is where style feels natural.
        </p>
        </div>
    </div>
</div>