<div class="center">
    <div class="content">
      <div class="logo-group">
        <img 
          src="cirracloud-logo-final.png"
          width="100"
          height="100"
          alt="symbol"
        />
        <img 
          src="cirracloud.png"
          width="336"
          height="78"
          alt="symbol"
        />
      </div>
  
      <button>
        <div class="row">
          <img
            src="google.webp"
            width="25"
            height="25"
            alt="Google icon"
          />
          <p>Sign in with Google</p>
        </div>
      </button>
    </div>
  </div>
  