<div class="body">
    <section id="LogoSection">
        <img
        src="cirracloud.png"
        width=220
        height="auto"
        alt="logo"
        priority
        />
        <img
        src="cirracloud-logo-final.png"
        width=150
        height="auto"
        alt="logo"
        priority
        />
    </section>

    <section id="FormSection">
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <input type="text" placeholder="Username" formControlName="username" required />
            <input type="password" placeholder="Password" formControlName="password" required />
            <button type="submit" [disabled]="loginForm.invalid">Sign in</button>
        </form>
        <br>
        <p>Don't have an account? <a routerLink="/register"><strong>Sign up.</strong></a></p>
    </section>
</div>


