<div class="main">
    <div id="header">
    <p>Welcome, Farrah!</p>
    <div class="logo">
        <img
        src="cirracloud.png"
        width=112
        height=26
        alt="logo"
        priority
        />
    </div>
    <p>Sign out</p>
    </div>
    <div class="inner">
        <div [ngStyle]="{'text-align': 'center'}">
            <button class="t-btn">+</button>
        </div>
        <div>
            <div class="boundary" appImageUpload
            (files)="filesDropped($event)"  >
                    
                    <div> 
                        <div class="box" 
                        cdkDragBoundary=".boundary" 
                        cdkDrag
                        *ngFor="let file of uploadedFiles"

                      >
                            <img [src]="file.url" alt="uploaded file"  class="uploadedImage"/>       
                        </div>
                    </div>
                    
                    <p [ngStyle]="{'justify-content': 'center', 'align-items': 'center', 'display': 'flex', height:'90vh'}"
                    *ngIf="uploadedFiles.length === 0"
                    >Drop your files here</p>

            </div>
        </div>
    </div>
</div>


